doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="")  
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang="")  
//if IE 8
	html.no-js.lt-ie9(lang="")  
// [if gt IE 8] <!
html.no-js(lang="zxx")
	// <![endif]
	head
		include links
	body
		include header
		section.beautypress-inner-welocme-section.beautypress-bg.parallax-bg(data-parallax="scroll" data-image-src="img/about_us.jpg")
			.beautypress-black-overlay
			.container
				.beautypress-inner-welcome-content
					img(src="img/inner-welcome-icon.png" alt="")
					h1.color-white Sobre Nosotros Prueba
					p.color-white
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magnam voluptate pariatur. Dignissimos aut tenetur numquam a quod vitae placeat soluta cum cumque! Quasi aliquid ipsam, earum perspiciatis ex asperiores.
				// .beautypress-inner-welcome-content END
		// .beautypress-inner-welocme-section END
		// Inner welcome end
		// Simple text with image version 2
		section.beautypress-simple-text-with-img-section.beautypress-simple-text-with-img-section-v2.beautypress-no-bg
			.container
				.row
					.col-md-12.col-sm-12.col-lg-6.col-xl-6
						.beautypress-simple-img-wraper
							img(src="img/feature_img_1.png" alt="")
						// .beautypress-simple-img-wraper END
					.col-md-12.col-sm-12.col-xl-6.col-lg-6
						.beautypress-simple-text.beautypress-watermark-icon
							.beautypress-separetor-sub-heading.beautypress-no-separetor
								h2 Nuestra Vision
							// . END
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis, non, atque sint nemo amet quis odit qui quia vero ea soluta tenetur. Consequuntur placeat inventore nihil tenetur, dignissimos et.
							.beautypress-btn-wraper
								a.xs-btn.bg-color-purple.round-btn.box-shadow-btn(href="#")
									| Leer Más
									span
						// . END
		// .beautypress-simple-text-with-img-section END
		// Simple text with image end
		// Simple text with image
		section.beautypress-simple-text-with-img-section.bg-color-gray
			.container
				.row
					.col-md-12.col-sm-12.col-lg-6.col-xl-6
						.beautypress-simple-text.beautypress-version-2
							.beautypress-big-sub-heading
								h2 El secreto de 
								h3 (Nombre empresa)
							// .beautypress-separetor-sub-heading END
							.beautypress-simple-text-content
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error harum ab voluptate, veritatis reiciendis enim, ullam eius. Harum iusto voluptate ut, unde vel odit, earum, tempora accusantium ullam ducimus possimus.
							.beautypress-spilit-container
								.beautypress-icon-with-text
									.beautypress-svg-ico
										img(src="img/cosmetics.svg" alt="")
									h3 Algo
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								// .beautypress-icon-with-text END
								.beautypress-icon-with-text
									.beautypress-svg-ico
										img(src="img/nail.svg" alt="")
									h3 Algo mas
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								// .beautypress-icon-with-text END
						// .beautypress-simple-text END
					.col-md-12.col-sm-12.col-xl-6.col-lg-6
						.twentytwenty-container.beautypress-before-after
							img(src="img/before-after-1.jpg" alt="")
							img(src="img/before-after-2.jpg" alt="")
		// .beautypress-simple-text-with-img-section END
		// Simple text with image end
		// About section
		section.beautypress-about-section.section-padding
			.container
				.row
					.col-md-12.col-sm-12.col-lg-6.col-xl-6
						.beautypress-border-with-text-wrap
							span.beautypress-border.beautypress-version-1
							.beautypress-border-with-text
								h2
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
									span ipsum dolor
									|  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									strong ipsim dolor.
						// .beautypress-border-with-text-wrap END
					.col-sm-12.col-md-12.col-lg-6.col-xl-6
						.beautypress-simple-img-wraper
							img(src="img/lady_1.jpg" alt="")
							.beautypress-about-video-pop
								a.beautypress-video-popup.simple-icon-btn(href="https://www.youtube.com/watch?v=mW6hFttt_KE")
									i.xsicon.icon-play-button
						// .beautypress-simple-img-wraper END
		// .beautypress-about-section END
		// About section
		// Team section
		section.beautypress-team-section.beautypress-padding-bottom.bg-color-gray.beautypress-bg
			.container
				.beautypress-section-headinig
					h2 Expertos en Belleza
				.row
					.col-md-12.col-sm-12.col-lg-4.col-xl-4
						.beautypress-single-team.beautypress-purple-overlay
							img(src="img/team-1.jpg" alt="")
							.beautypress-team-content
								.beautypress-team-person-details
									h3 Jenny william
									h4 Founder
								.beautypress-team-person-socail-details
									ul.beautypress-social-list
										li
											a.beautypress-facebook(href="")
												i.fa.fa-facebook
										li
											a.beautypress-twitter(href="")
												i.fa.fa-twitter
										li
											a.beautypress-pinterest(href="")
												i.fa.fa-pinterest-p
										li
											a.beautypress-dribbble(href="")
												i.fa.fa-dribbble
									// .beautypress-social-list END
							// .beautypress-team-content END
						// .beautypress-single-team END
					.col-md-12.col-sm-12.col-lg-4.col-xl-4
						.beautypress-single-team.beautypress-pink-overlay
							img(src="img/team-2.jpg" alt="")
							.beautypress-team-content
								.beautypress-team-person-details
									h3 Rusana ranshaw
									h4 C. E. O
								.beautypress-team-person-socail-details
									ul.beautypress-social-list
										li
											a.beautypress-facebook(href="")
												i.fa.fa-facebook
										li
											a.beautypress-twitter(href="")
												i.fa.fa-twitter
										li
											a.beautypress-pinterest(href="")
												i.fa.fa-pinterest-p
										li
											a.beautypress-dribbble(href="")
												i.fa.fa-dribbble
									// .beautypress-social-list END
							// .beautypress-team-content END
						// .beautypress-single-team END
					.col-md-12.col-sm-12.col-lg-4.col-xl-4
						.beautypress-single-team.beautypress-sky-blue-overlay
							img(src="img/team-3.jpg" alt="")
							.beautypress-team-content
								.beautypress-team-person-details
									h3 Jennifar smith
									h4 Senior Specialist
								.beautypress-team-person-socail-details
									ul.beautypress-social-list
										li
											a.beautypress-facebook(href="")
												i.fa.fa-facebook
										li
											a.beautypress-twitter(href="")
												i.fa.fa-twitter
										li
											a.beautypress-pinterest(href="")
												i.fa.fa-pinterest-p
										li
											a.beautypress-dribbble(href="")
												i.fa.fa-dribbble
									// .beautypress-social-list END
							// .beautypress-team-content END
						// .beautypress-single-team END
		// .beautypress-team-section END
		// Team section
		// Pricing table
		section.beautypress-pricing-table-section.beautypress-padding-bottom
			.container
				.beautypress-section-headinig.beautypress-version-2
					h2.color-pink Nuestros Precios
					img(src="img/section-heading-separetor-v2.png" alt="")
				.row
					.col-md-12.col-sm-12.col-lg-4.col-xl-4
						.beautypress-single-pricing-table.beautypress-image-overlay-1.beautypress-version-3
							.beautypress-pricing-header
								img(src="img/pricing-icons-1.png" alt="")
								.beautypress-pricing-header-content
									.beautypress-pricing-title
										h2 Cortes de Cabello
									.beautypress-pricing-price
										h4 Comienzan desde
										h5.color-purple
											span $
											| 50
							// .beautypress-pricing-header END
							.beautypress-pricing-footer
								ul.beautypress-both-side-list.beautypress-version-2
									li
										| Corte para Niños
										span $45
									li
										| Corte para Hombres
										span $42
									li
										| Corte para Mujeres
										span $56
									li
										| Women's haircut
										span $76
								.beautypress-btn-wraper
									a.xs-btn.round-btn.box-shadow-btn.bg-color-purple(href="#")
										| Haz tu reserva
										span
							// .beautypress-pricing-footer END
						// .beautypress-single-pricing-table END
					.col-md-12.col-sm-12.col-lg-4.col-xl-4
						.beautypress-single-pricing-table.beautypress-image-overlay-2.beautypress-version-3
							.beautypress-pricing-header
								img(src="img/pricing-icons-2.png" alt="")
								.beautypress-pricing-header-content
									.beautypress-pricing-title
										h2 Maquillaje
									.beautypress-pricing-price
										h4 Comienzan desde
										h5.color-purple
											span $
											| 50
							// .beautypress-pricing-header END
							.beautypress-pricing-footer
								ul.beautypress-both-side-list.beautypress-version-2
									li
										| Ojos
										span $45
									li
										| Matrimonio
										span $42
									li
										| Maquillaje regular
										span $56
									li
										| Maquillaje rapido
										span $76
								.beautypress-btn-wraper
									a.xs-btn.round-btn.box-shadow-btn.bg-color-pink(href="#")
										| Haz tu reserva
										span
							// .beautypress-pricing-footer END
						// .beautypress-single-pricing-table END
					.col-md-12.col-sm-12.col-lg-4.col-xl-4
						.beautypress-single-pricing-table.beautypress-image-overlay-3.beautypress-version-3
							.beautypress-pricing-header
								img(src="img/pricing-icons-3.png" alt="")
								.beautypress-pricing-header-content
									.beautypress-pricing-title
										h2 Tintura
									.beautypress-pricing-price
										h4 Comienzan desde
										h5.color-purple
											span $
											| 50
							// .beautypress-pricing-header END
							.beautypress-pricing-footer
								ul.beautypress-both-side-list.beautypress-version-2
									li
										| algo
										span $45
									li
										| algo
										span $42
									li
										| algo
										span $56
									li
										| algo
										span $76
								.beautypress-btn-wraper
									a.xs-btn.round-btn.box-shadow-btn.bg-color-purple(href="#")
										| Haz tu reserva
										span
							// .beautypress-pricing-footer END
						// .beautypress-single-pricing-table END
		// .beautypress-pricing-table-section END
		// Pricing table
		// Testimonial Slider
		section.beautypress-testimonial-section.beautypress-bg.parallax-bg(data-parallax="scroll" data-image-src="img/testimonial-bg.jpg")
			.container
				.beautypress-testimonial-slider.owl-carousel
					.beautypress-single-testimonial
						h2 Jenny Smith
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quas a aperiam odio molestiae explicabo in nisi sed officia, sunt numquam quod illum velit accusamus labore, illo porro corporis soluta.
						ul.beautypress-rating
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star-half-full
						// .beautypress-rating END
						.beautypress-signature
							img(src="img/commentor-sign.png" alt="")
						// .beautypress-signature END
					// .beautypress-single-testimonial END
					.beautypress-single-testimonial
						h2 Isabela
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quia earum voluptate, eius consequatur ullam sit quidem velit accusantium autem officiis tempore inventore at mollitia. Fugit quam aliquam, dicta deserunt!
						ul.beautypress-rating
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star-half-full
						// .beautypress-rating END
						.beautypress-signature
							img(src="img/commentor-sign.png" alt="")
						// .beautypress-signature END
					// .beautypress-single-testimonial END
					.beautypress-single-testimonial
						h2 Loren
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse praesentium tempora error delectus deserunt iste aut, mollitia voluptate dignissimos vero quidem vitae optio repellat atque velit est alias beatae facere!
						ul.beautypress-rating
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star-half-full
						// .beautypress-rating END
						.beautypress-signature
							img(src="img/commentor-sign.png" alt="")
						// .beautypress-signature END
					// .beautypress-single-testimonial END
					.beautypress-single-testimonial
						h2 Jenny Doe
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aut aliquid, sequi vero! Odio et, ratione nulla laborum eum, corporis, ut dicta molestiae optio error asperiores consequuntur. Voluptatum, pariatur, praesentium.
						ul.beautypress-rating
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star
							li
								a(href="")
									i.fa.fa-star-half-full
						// .beautypress-rating END
						.beautypress-signature
							img(src="img/commentor-sign.png" alt="")
						// .beautypress-signature END
					// .beautypress-single-testimonial END
				// .beautypress-testimonial-slider END
			.beautypress-black-overlay.light-overlay
		// .beautypress-testimonial-section END
		// Testimonial Slider
		// booking section
		section.beautypress-booking-section.beautypress-padding-bottom
			include appointment
		// .beautypress-booking-section END
		// booking section end
		// Footer section
		footer.beautypress-footer-section
			include footer
		// .beautypress-footer-section END
		// Footer section end
		include scripts