section.beautypress-booking-section.beautypress-padding-bottom
	.container
		.beautypress-section-headinig.beautypress-version-2
			h2.color-pink Hacer reserva
			img(src='img/section-heading-separetor-v2.png' alt='')
		.row
			.col-md-12.col-sm-12.col-lg-6.col-xl-6
				.beautypress-booking-text-wraper
					.beautypress-booking-content-text.beautypress-border.beautypress-version-3
						.beautypress-booking-text
							h2 Fechas para programar
							h3 Horarios de atencion
							.beautypress-icon-bg-text
							// .beautypress-icon-bg-text END
							ul
								li Lun - Vie : 8:00am - 06:00pm
								li Sab : 10:00am - 10:00pm
								li Dom: Close
						// .beautypress-booking-text END
					// .beautypress-booking-content-text END
				// .beautypress-booking-text-wraper END
			.col-md-12.col-sm-12.col-lg-6.col-xl-6
				.beautypress-booking-form-wraper
					form#beautypress-booking-form(action='/cita' method='POST')
						#beautypress-form-msg.alert.hidden
						.beautypress-service-and-date
							h2 Seleccionar fecha y servicio deseado
							.beautypress-select
								.input-group
									select#appointment-service.form-control(name='appointmentService')
										option(value='') Selecciona tu servicio
											option(value='servicio1') servicio1 ($59.00)
											option(value='servicio2') servicio2 ($199.00)
											option(value='servicio3') servicio3	($299.00)
											option(value='servicio4') servicio4	(for Two $399.00)
							// .beautypress-select END
							.beautypress-spilit-container
								.beautypress-date-select.beautypress-select
									.input-group
										input#appointment-date.form-control.datepicker(type='text' name='appointmentDate' placeholder='Date Shedule')
								// .beautypress-date-select END
								.beautypress-select
									.input-group
										select#appointment-time.form-control(name='appointmentTime')
											option(value='') Seleccionar Hora
											option(value='06:00:00') 06:00 AM
											option(value='06:30:00') 06:30 AM
											option(value='07:00:00') 07:00 AM
											option(value='07:30:00') 07:30 AM
											option(value='08:00:00') 08:00 AM
											option(value='08:30:00') 08:30 AM
											option(value='09:00:00') 09:00 AM
											option(value='09:30:00') 09:30 AM
											option(value='10:00:00') 10:00 AM
											option(value='10:30:00') 10:30 AM
											option(value='11:00:00') 11:00 AM
											option(value='11:30:00') 11:30 AM
											option(value='12:00:00') 12:00 PM
											option(value='12:30:00') 12:30 PM
											option(value='13:00:00') 01:00 PM
											option(value='13:30:00') 01:30 PM
											option(value='14:00:00') 02:00 PM
											option(value='14:30:00') 02:30 PM
											option(value='15:00:00') 03:00 PM
											option(value='15:30:00') 03:30 PM
											option(value='16:00:00') 04:00 PM
											option(value='16:30:00') 04:30 PM
											option(value='17:00:00') 05:00 PM
											option(value='17:30:00') 05:30 PM
											option(value='18:00:00') 06:00 PM
											option(value='18:30:00') 06:30 PM
											option(value='19:00:00') 07:00 PM
											option(value='19:30:00') 07:30 PM
											option(value='20:00:00') 08:00 PM
											option(value='20:30:00') 08:30 PM
											option(value='21:00:00') 09:00 PM
											option(value='21:30:00') 09:30 PM
								// .beautypress-select END
						// .beautypress-service-and-date END
						.beautypress-personal-information
							h2 Informacion Personal
							.beautypress-spilit-container
								.form-group.first-name-group
									input#first-name.form-control(type='text' name='name' placeholder='First Name....')
								.form-group.email-group
									input#email.form-control(type='email' name='email' placeholder='Email Address....')
							.form-group.phone-group
								input#phone.form-control(type='tel' name='phone' placeholder='Phone Number....')
							.form-group.massage-gropu
								textarea#appointment-comment.form-control(rows='5' name="message" placeholder='Enter Message....')
							.form-group.button-group
								input#beautypress-submit(type='submit' name='submit' value='submit')
						// .beautypress-personal-information END
					// #beautypress-booking-form END

