extends layout_dashboard
block content
    .col-lg-10
        a(href="/cobros")
            | Volver
        .card
            .card-header
                h5.card-title 
                    | Detalles del Cobro
            .card-body
                .d-flex
                    .detail-group
                        p Fecha
                        span assdasd
                    .detail-group
                        p Cliente
                        span assdasd
                    .detail-group
                        p Cajero
                        span assdasd
                    .detail-group
                        p Forma de Pago
                        span assdasd
                    .detail-group
                        p Precio sin IVA
                        span assdasd
                    .detail-group
                        p Impuestos de IVA
                        span assdasd
                    .detail-group
                        p Precio Total
                        span assdasd
                p
                 | Productos y Servicios
                table
                    thead
                        th Nombre
                        th Precio Base
                        th IVA
                        th Precio Final
                    tbody
                        tr
                            td shamposito
                            td 150000
                            td 20
                            td 200000