extends layout_dashboard
block content
    .container
        .col-lg-10.mx-auto
            .box
                h2.title-create-employee-form Datos del nuevo Empleado
                .col-lg-8.mx-auto
                    form#formCreateEmployee(action="#" method="POST")
                        .form-group.row
                            label.col-sm-3.col-form-label.label-form(for="inputEmployeeName") Nombres
                            .col-sm-9
                                input#inputEmployeeName.form-control(type="text" name="employeeName" placeholder="Nombres")
                        .form-group.row
                            label.col-sm-3.col-form-label.label-form(for="inputEmployeeLastname") Apellidos
                            .col-sm-9
                                input#inputEmployeeLastname.form-control(type="text" name="employeeLastname" placeholder="Apellidos")
                        .form-group.row
                            label.col-sm-3.col-form-label.label-form(for="inputEmployeeEmail") Email
                            .col-sm-9
                                input#inputEmployeeEmail.form-control(type="email" name="employeeEmail" placeholder="Email")
                        .form-group.row
                            label.col-sm-3.col-form-label.label-form(for="inputEmployeePhone") Telefono
                            .col-sm-9
                                input#inputEmployeePhone.form-control(type="number" name="employeePhone" placeholder="Telefono")
                        .form-group.row
                            label.col-sm-3.col-form-label.label-form(for="selectPositions") Cargo
                            .col-sm-9
                                select#selectPositions.form-control(name="position" style="width:100%")
                                    option(value="admin") Administrador
                                    option(value="cashier") Cajer@
                                    option(value="hairdresser") Peluquer@
                                    option(value="manicurist") Manicurista
                                    option(value="barber") Barbero
                        button.btn.btn-primary(type="submit") Crear Empleado

append scripts
    script.
        $(document).ready(function(){
            $("#selectPositions").select2()
        })
