.container
	.beautypress-footer-content
		.beautypress-footer-logo
			a(href="index.html")
				img(src="img/footer_logo.png" alt="")
		// .beautypress-footer-logo END
		.beautypress-subscribe-wraper
			h3 Subscribe For More Updates
			form.mc-form(action="#" method="POST")
				.beautypress-subscribe
					input#mc-email(type="email" placeholder="Enter your email address.....")
					input.beautypress-sub(type="submit" value="subscribe")
					label(for="mc-email")
				// .beautypress-subscribe END
		// .beautypress-subscribe-wraper END
		.row
			.col-md-12.col-sm-12.col-lg-4.col-xl-4
				.beautypress-single-footer
					p
						| Then an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.
				// .beautypress-single-footer END
			.col-md-12.col-sm-12.col-lg-4.col-xl-4
				.beautypress-single-footer.beautypress-single-footer-group
					p Mon-Fri: 9 AM – 6 PM
					p Saturday: 9 AM – 4 PM
					p Sunday: Closed
				// .beautypress-single-footer END
			.col-md-12.col-sm-12.col-lg-4.col-xl-4
				.beautypress-single-footer.beautypress-single-footer-group
					p 176 W street name, New York, NY 10014
					p Email: info@yoursite.com
					p Telephone: +1(800)123-4566
				// .beautypress-single-footer END
.beautypress-copyright-content
	.container
		.beautypress-copyright-text
			p
				a(href="https://xpeedstudio.com") XpeedStudio
				|  © 2017 All Rights Reserved.