<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

// Prelaoder
#preloader
    .preloader-window.left-window
    .preloader-window.right-window
    .preloader-content
        img(src="img/prelaoder-logo.png" alt="")
        h2 Beautypress
    .spinner-block
        .spinner-eff.spinner-eff-3
            .circle.circle-1
            .circle.circle-2
            .circle.circle-3
// Prelaoder end

// Main menu
header.beautypress-header-section.beautypress-version-1.beautypress-extra-css.menu-skew.header-height-calc-minus.navbar-fixed
    .container
        .beautypress-logo-wraper
            a.beautypress-logo.beautypress-version-2.beautypress-version-4(href="index.html")
                img(src="img/logo-v1-1.png" alt="logo-peluqueria")
        // .beautypress-logo-wraper END
    .beautypress-header-top.bg-navy-blue
        .container
            ul.beautypress-simple-iocn-list.beautypress-version-1
                li
                    i.xsicon.icon-call
                    | +00 11 222 333 444
                li
                    i.xsicon.icon-envelope
                    | info@xpeedstudio.com
    .beautypress-main-header.bg-color-purple.color-white
        .container
            nav.xs_nav.beautypress-nav.beautypress-mega-menu
                .nav-header
                    .nav-toggle
                .nav-menus-wrapper
                    ul.nav-menu
                        li
                            a(href="/") Home
                        li
                            a(href="/service") Servicios
                        li
                            a(href="/about") Sobre Nosotros
                        li
                            a(href="#") Contactanos
    // .beautypress-main-header END
// .beautypress-header-section END
// Main menu closed