meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title Barbie Peluqueria
meta(name="description" content="Peluqueria Barbie")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="apple-touch-icon" href="apple-touch-icon.png")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700%7CNiconne")
link(rel="icon" type="image/png" href="favicon.ico")

// Bootstrap.css
link(rel='stylesheet', href='/static/css/bootstrap.min.css')
// Date pixker
link(rel='stylesheet', href='/static/css/bootstrap-datepicker.min.css')
// Font awesome
link(rel='stylesheet', href='/static/css/font-awesome.min.css')
// XS Icon
link(rel='stylesheet', href='/static/css/xs-icon.css')
// Owl slider
link(rel='stylesheet', href='/static/css/owl.carousel.min.css')
// Isotope
link(rel='stylesheet', href='/static/css/isotope.css')
// magnific-popup
link(rel='stylesheet', href='/static/css/magnific-popup.css')
// For Plugins external css
link(rel='stylesheet', href='/static/css/plugins.css')
// Theme custom css
link(rel='stylesheet', href='/static/css/style.css')
// Theme Responsive css
link(rel='stylesheet', href='/static/css/responsive.css')