script(src="js/jquery-3.2.1.min.js")
script(src="js/plugins.js")
script(src="js/bootstrap.min.js")
script(src="js/bootstrap-datepicker.min.js")
script(src="js/isotope.pkgd.min.js")
script(src="js/jquery.ajaxchimp.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/appear.js")
script(src="js/spectragram.min.js")
script(src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k")
script(src="js/main.js")
