.btn-log-out {
    position: absolute!important;
    bottom: 30px;
}
@media screen and (max-width: 991px) {
    .btn-log-out {
        position: inherit!important;
    }
}
#calendar{
	max-width: 1400px;
	margin: 0 auto;
}