input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}


.btn-log-out {
    position: absolute !important;
    bottom: 30px;
}

@media screen and (max-width: 991px) {
    .btn-log-out {
        position: inherit !important;
    }
}

#containerCalendar {
    position: relative;
}

#calendar {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 20px;
}

#calendar a {
    cursor: pointer;
}

#button_dashboard {
    margin-bottom: 20px;
}

#appointmentDashboard {
    border: 1px solid black;
    background: red;
}

#appointmentDashboard {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(60, 60, 60, 0.9);
    justify-content: center;
    box-shadow: 6px 7px 13px 0px rgba(0, 0, 0, 0.75);
}

#newAppointment {
    margin: 30px 0;
    width: 70%;
    z-index: 5;
    background-color: white;
    height: 30%;
    box-shadow: 6px 7px 13px 0px rgba(0, 0, 0, 0.75), -6px 7px 13px 0px rgba(0, 0, 0, 0.75);
    ;
}

.contentAppointment {
    padding: 20px;
    position: relative;
}

.contentFormAppointment {
    margin-top: 30px;
    padding: 0 100px;
}

.contentFormAppointment input,
.contentFormAppointment select {
    height: 50px !important;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
}

#buttonClose {
    position: absolute;
    right: 25px;
    top: 25px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#buttonClose p {
    font-size: 32px;
    color: white;
    margin-top: 10px;
}

.datepicker {
    opacity: 1
}

.datepicker .datepicker-days {
    visibility: visible;
}

.dropdown-menu {
    visibility: visible;
}

/* payment section  */
.payment-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    padding: 30px 20px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.label-form {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.label-checkbox {
    font-size: 13px;
    margin: 5px 0;
    color: #9A9A9A;
}

.title-create-employee-form {
    margin-top: 0;
    margin-bottom: 10px;
}

#inputProductDescription {
    resize: none;
}

.input-read-only {
    background-color: transparent !important;
    cursor: auto !important;
    border: none !important;
    padding: 0!important;
}

.payment-title {
    font-weight: 700;
    color: #4f4f4f;
    margin: 0;
    font-size: 25px;
}

.input-payment-form {
    color: #4f4f4f !important;
    max-width: 200px;
    font-size: 30px;
    padding-top: 10px;
    font-weight: 700;
}


#list-products,
#list-services {
    margin-top: 20px;
}

.item-selected {
    max-width: 180px;
    position: relative;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}
.item-selected hr {
    margin: 5px;
}
.item-name,
.item-price {
    text-align: center;
    margin: 0;
    color: #5d5d5d;
}

.item-price {
    font-weight: 700;
}

.delete-icon {
    position: absolute;
    top: -9px;
    right: -9px;
    cursor: pointer;
    font-size: 20px;
}

.nav-item {
    width: 100%;
    padding: 5px 0;
}

.nav-link {
    cursor: pointer;
}
.nav-item-collapse {
    width: 100%;
    margin: 0!important;
    padding: 10px 45px;
    cursor: pointer;
}
.nav-item-collapse:hover {
    background-color: rgba(255, 255, 255, 0.13);
}
.nav-item-collapse  a {
    text-decoration: none;
    color: white;
}
.label-coin {
    font-size: 16px!important;
} 
.form-coin-group {
    margin: 15px 0;
}
.items-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}